<<!DOCTYPE html>
<htmll xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="footer" layout:fragment="footer">
		<div class="container text-center">
			<div class ="row justify-content-center">
				<div class="col-8">
				<h4><サイトの説明></h4>
		     	<h7>ようこそ☺こちらはたくさんのわんちゃん、ねこちゃんの写真を投稿するサイトです。</h7>
		     	<p>たくさんの動物のごきげんなお顔、びっくりしたお顔等色々なシチュエーションの写真を種類別に投稿お待ちしてます</p>
		     	<p>© 2024 xxxxxxxx</p>
		     	</div>
		     </div>
		</div>
	</div>
		
	
</body> 
      
</html>