@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
h1{
    font-weight: 150px;
    font-family: 'Caveat', cursive;
    color: #4be6bf;
}

#messages {
  ul{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 4px;
    color: black;
    li {
      list-style: none;
      padding: 4px 8px;
      font-size: 18px;
    }
  }
}

h2{
    font-weight: 150px;
    font-family: 'Caveat', cursive;
    color: #4be6bf;
}

.p-form-top {
    height: 120px;
}

.error-message {
  color: red;
}

.error-field {
  background-color: rgba(255,192,203,0.8);
}

nav.navbar {
    background-color: #00ffff;
    border: 1px solid transparent;
    border-color: white;
    border-width: 0 0 1px;
    margin-bottom: 20px;
    padding: 0;
    a {
        color: #fff;
        
    }
    h1{
		color: #fff;
        font-family: cursive;
        border: 3px solid #fff;
        margin-left: 5px;
        margin-bottom: 6px;
        margin-top: 6px;
	}
    img {
        height: 40px;
    }
}

.footer{
	border: 1px solid transparent;
    border-color: white;
    border-width: 0 0 1px;
    height: 20px;
    margin-top: 30px;
    padding-top: 10px;
    
    
    
    h7{
		font-family: cursive;
		padding-top: 50px;
	}
}

.pages-index-wrapper {
	
    width: 100vw;
    height: 100vh;
    background-image: url('../images/icons/wercom_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    .container {
        padding-top: 80px;
        h1 {
			font-family: 'Sacramento', cursive;
            font-size: 56px;
            margin-bottom: 20px;
            color: #31dab0;
        }
        h2 {
		font-family: 'Sacramento', cursive;
            margin-bottom: 60px;
             color: #31dab0;
        }
    }
}




.users-new-wrapper {
    width: 100vw;
    min-height: 100vh;

    background-image: url('../images/icons/session_background.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    main {
        padding-top: 80px;
        margin-bottom: 60px
        
    }
     h1 {
			font-family: 'Sacramento', cursive;
            font-size: 56px;
            margin-bottom: 20px;
            color: #31dab0;
        }
     h2 {
			font-family: 'Sacramento', cursive;
            font-size: 56px;
            margin-bottom: 20px;
            color: #31dab0;
        }
}



.animals-top-wrapper{
	width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/icons/session_background.jpg');
    padding-bottom: 20px;
     h1 {
			font-family: 'Sacramento', cursive;
            font-size: 56px;
            margin-bottom: 20px;
            color: #31dab0;
        }
        h2 {
		font-family: 'Sacramento', cursive;
            margin-bottom: 60px;
             color: #31dab0;
        }
	.pet-image{
	        width: 80%;
	        margin: 0 10% 0 10%;
	        justify-content: center;
		}
		.btn{
			margin: 0 25% 0 25%;
	        width: 50%;
		}
		
		.btn__border-outset{
			  color:#fff;
			  background-color:#31dab0;
			  border:5px #4be6bf;
			  border-style:outset;
		}
		.outset{
			  color:#fff;
			  background-color:#9400d3;
			  border:5px #ff00ff;
			  border-style:outset;
		}
		
.bt{
  display:block;
  width:150px;
  height:150px;
  margin:1em auto;
  padding:1em auto;
  line-height:140px;
  background:gray;
  border-radius:90%;
  color:#fff;
  font-size:20px;
  font-weight:bold;
  text-decoration:none;
  text-align: center;
}

.b{
  display:block;
  height:50px;
  margin:1em 0;
  line-height:50px;
  background:tomato;
  color:#fff;
  border-radius:25px;
  box-shadow:0 5px 0 gold;
  text-decoration:none;
  text-align:center;
}
		
}


 .animals-new-wrapper{
	width: 100vw;
    height: 100vh;
	background-image: url('../images/icons/backirasuto3.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    
.ranking-index-wrapper{
	background-image: url('../images/icons/ranking_background.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	
   main {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 15px;
    
    h2{
		font-family: cursive;
		  color: black;
	}
    span{
		font-size: 20px;
	}
	p{
		font-size: 30px;
	}
    
       .image {
      	height: 240px;
        width: 240px;
        padding-top: 20px;
         top: 27%;
  		left: 45%;
  		margin: -25px 0 0 -25px;
        }
	}
}
	
.shops-index-wrapper{
	background-image: url('../images/icons/ranking_background.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  main{
		   display: flex;

	    .image{
			width: 40%;
	         height: 40%;
	         padding-right: 40px;
		}
	        img {
	          width: 45px;
	          height: 45px;
	          
	        }
		a{
			   padding-right: 40px;
		}
	  
	    span{
			font-size: 30px;
		    margin-right: 20px;
		}
		p{
			  font-size: 20px;
			  padding-left: 10px;
		 }
		 pre{
			 font-size: 20px;
			 padding-left: 10px;
			 font-family: system-ui;
		 }
   }
	    
	    p{
			  font-size: 20px;
			  padding-left: 10px;
		 }
		 span{
			 font-size: 28px;
			
		 }
		 
		.paging {
	    text-align: center;
	    margin: 15px 0;
	    font-size: 1rem;
	    list-style-type: none;
		}
		
		.paging li {
		    display: inline-block;
		}
		
		.paging.current, .paging a {
		    padding: 0 3px;
		}

}

.shop-review-wrapper{
	width: 100vw;
    height: 400px;
    background-image: url('../images/icons/backirasuto3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 10%;
    margin-bottom: 10px;
  
}

.shops-new-wrapper{
	 background-image: url('../images/icons/backirasuto3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.animals-index-wrapper{
	padding: 80px 0 20px;
  	background-color: #fafafa;
  	 background-image: url('../images/icons/backirasuto2.jpg');
  	min-height: calc(100vh - 180px);
  	overflow: hidden;
  	position: relative;
  	
  	 nav ul li{
      display: inline-block;
      margin: 0 20px;
      font-size: 20px;
      color: forestgreen;
      font-family: system-ui;
      
    }
    
  	main {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px;
    
       .image {
      	height: 240px;
        width: 240px;
        
 		 top: 27%;
  		left: 45%;
  		margin: -25px 0 0 -25px;
        }
        
     .icons {
      display: flex;
      flex-direction: row;
      .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px;
        img {
          width: 35px;
          height: 30px;
          
        }
        
        .ealuate-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
      }
      .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end;
      }
      
    }
    
   					
        
    }
 
 html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 180px;
}
.footer {
  position: absolute;
  width: 100%;
  height: 180px;
  padding: 10px 0;
}
 
}

